<link rel="stylesheet" href="/styles/normalize.css" />
<link rel="stylesheet" href="/styles/ion.rangeSlider.css" />
<link rel="stylesheet" href="/styles/ion.rangeSlider.skinFlat.css" />
<div class="container">
  <div class="row">
  <div class="col-md-6">
    <%
      if (fares != null){
      fares.forEach( function(fare) {
    %>
    <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="<%=fare.image %>" alt="<%=fare.region %>">
    <div class="card-body">
      <h4 class="card-title">City: <%=fare.city %></h4>
      <p class="card-text"><%=fare.class %> Class</p>
      <p class="card-text">$<%=fare.price %></p>
      <p class="card-text">Deal Valid Till: <%=fare.dealvalidtill %></p>
      <p class="card-text">Quota Left: <%=fare.quota %></p>
      <p class="card-text">Date: <%=fare.date %></p>
      <a href="http://localhost:1337/fare/view/<%=fare.id %>?bought=0" class="btn btn-primary">View</a>
    </div>
  </div>
  <% });%>

  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if (currentpage != 1){
      %>
        <li class="page-item"><a class="page-link" href="http://localhost:1337/fare/search?searchresult=1&page=<%=currentpage-1 %>&region=<%=region %>">Previous</a></li>
      <%
    } else {
      %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
    <% } %>

    <% for (i=0; i<pages; i++){ %>
    <% if (i+1 == currentpage){
        %>
        <li class="page-item active">
          <a class="page-link" href="#"><%=i+1 %><span class="sr-only">(current)</span></a>
        </li>
        <%
      } else {
        %>
        <li class="page-item"><a class="page-link" href="http://localhost:1337/fare/search?searchresult=1&page=<%=i+1 %>&region=<%=region %>"><%=i+1 %></a></li>
        <%
      }
      %>
    <% } %>
    <% if (currentpage != pages){
      %>
        <li class="page-item"><a class="page-link" href="http://localhost:1337/fare/search?serchresult=1&page=<%=currentpage+1 %>&region=<%=region %>">Next</a></li>
      <%
    } else {
      %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Next</a>
      </li>
    <% } %>

  </ul>
</nav>
<% } %>
</div>
<div class="col-md-6">
<form action="/fare/search" method="get">
  <input type="hidden" name="searchresult" value="1">
  <input type="hidden" name="page" value="1">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Region</label>
    <select class="form-control" name="region">
      <option value="0">please select region</option>
      <option value="East Asia">East Asia</option>
      <option value="South-east Asia">South-east Asia</option>
      <option value="Americas">Americas</option>
    </select>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Price Range</label>
          <div>
              <input type="text" id="price" value="" name="price" />
          </div>






      <!-- All JS -->
      <script src="/js/ion.rangeSlider.js"></script>
      <script text="javascript">

          $(function () {

              $("#price").ionRangeSlider({
                  hide_min_max: true,
                  keyboard: true,
                  min: 0,
                  max: 5000,
                  from: 1000,
                  to: 4000,
                  type: 'double',
                  step: 1,
                  prefix: "$",
                  grid: true
              });

          });
      </script>
    </div>
  </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Date Range</label>
        <input class="form-control" type="text" name="date" value=""/>
        <script type="text/javascript">
        $(function() {

          $('input[name="date"]').daterangepicker({
              autoUpdateInput: false,
              locale: {
                  cancelLabel: 'Clear'
              }
          });

          $('input[name="date"]').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
          });

          $('input[name="date"]').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });

        });
        </script>
      </div>
      <button type="submit" class="btn btn-default">search</button>
    </form>
</div>
</div>
</div>
