<div class="container">
  <div class="row">
    <div class="col-md-6">
<img src="..." alt="..." class="img-thumbnail">
</div>
<div class="col-md-6">
<ul class="list-group">
  <li class="list-group-item">City : <%=fare.city %></li>
  <li class="list-group-item">Class : <%=fare.class %></li>
  <li class="list-group-item">Price : $<%=fare.price %></li>
  <li class="list-group-item">Quota : <%=fare.quota %></li>
  <li class="list-group-item">Till : <%=fare.dealvalidtill %></li>
  <li class="list-group-item">Date : <%=fare.date %></li>
</ul>
</div>
</div>
</div>
